<h1>I'm a terrible coach!</h1>
<p>Your question: <%= @question %></p>
<p>Coach's answer: <%= @answer %></p>
<!-- <a href="/ask">Ask another question</a> -->
<%= link_to "Ask another question", "/ask" %>
