<h1>I'm a terrible coach!</h1>
<p>Tell me something or ask me a question</p>

<form action="/answer">
  <input type="text" name="question">
  <input class="button" type="submit" value="Ask!">
</form>
